{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AskMe project</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <body class="bg-white">
    
    {% include 'inc/navbar.html' %}

  <main class="container bg-white py-2" stylе="min-height:800px;">

    <div class="row">
      <div class="col mx-2">
        {% block content %}{% endblock content %}
      </div>

      <div class="col-3">
        {% include 'inc/popular_tags.html' %}
        {% include 'inc/best_members.html' %}
      </div>
    </div>

  </main>

  {% include 'inc/footer.html' %}

  <script src="{% static '/js/jquery-3.4.1.slim.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  
</body> 
</html>
