{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <h2 class="font-weight-bold m-2">Hot Questions</h2>
    <a href="{% url 'index' %}" class="align-items-center d-flex my-3 mx-4">New Questions</a>
  </div>
  {% for question in questions %}
    {% include 'inc/single_question.html' %}
  {% endfor %}
  {% include 'inc/pagination.html' %}
{% endblock content %}

