{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <h2 class="font-weight-bold m-2">New Questions</h2>
    <a href="{% url 'hot' %}" class="align-items-center d-flex my-3 mx-4">Hot Questions</a>
  </div>
  {% for question in questions %}
    {% include 'inc/single_question.html' %}
  {% endfor %}
  {% include 'inc/pagination.html' %}
{% endblock content %}

