{% extends 'base.html' %}

{% block content %}

  {% include 'inc/single_question.html' %}

  {% for answer in answers %}
    {% include 'inc/answer.html' %}
  {% endfor %}

  <div class="row justify-content-center pag my-lg-5">
        <ul class="pagination">
            {% if answers.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ answers.previous_page_number }}"><</a>
                </li>
            {% endif %}
            <li class="page-item"><a class="page-link">{{ answers.number }}</a></li>
            {% if answers.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ answers.next_page_number }}">></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ answers.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>
    </div>

  {% include 'inc/answer_form.html' %}

{% endblock content %}
