{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <h2 class="font-weight-bold m-2">Tag:  {{ tag.name }}</h2>
  </div>
  {% for question in questions %}
    {% include 'inc/single_question.html' %}
  {% endfor %}
  {% include 'inc/pagination.html' %}
{% endblock content %}
