{% load static %}

<div class="row my-2 p-2 bg-dark border rounded">
  <div class="media">
    <img src="../media/{{ answer.get_avatar }}" style="width:64px; height:64px;">
      <div class="media-body ml-3">
        <p class="h3 mx-2 text-white font-italic">{{ answer.author }}</p>
          <p class="h7 mx-2 text-white font-italic">answered on {{ answer.created_at }}</p>
        <div class="row mx-2 my-3">
          <p class="text-white">{{ answer.text }}</p>
        </div>
      </div>
  </div>
  <div class="row mx-2 w-100 align-items-center">
    <div class="btn-group-vertical ml-2">
      <button class="btn btn-outline-light">&#8657</button>
      <button class="btn btn-outline-light">&#8659</button>
    </div>
    <p class="h5 ml-3 mt-2 text-white font-italic"> {{ answer.rating }} </p>
    <div class="col">
      <div class="row">
      <div class="form-check  mx-auto">
        <input class="form-check-input" type="checkbox" value="" id="Correct?">
        <label class="form-check-label text-light" for="defaultCheck1">Correct</label>
      </div>
      </div>
    </div>
  </div>
</div>