{% if user.is_authenticated and user.is_active %}
    <form method="post" class="my-lg-1 col-md-3">
        {% csrf_token %}
        <div class="form-group">
            <div class="col">
                {{ form.text }}
                {% comment %}<textarea class="pt-md-3" cols="80" rows="10" name="comment" required id="id_comment"></textarea>{% endcomment %}
            </div>
        </div>
        <button class="btn btn-primary my-2 my-sm-0 mx-3" type="submit">Answer!</button>
    </form>
{% endif %}
