<div class="row m-2">
  <h2 class="font-weight-bold">New Question</h2>
</div>
<div class="row" style="max-width: 900px;">
  <form class="w-100 m-3 mx-5" method="post">
      {% csrf_token %}
    <div class="form-group">
      <label for="title">Title</label>
      <div class="col-sm-10">
          {{ form.title }}
          <div class="invalid-feedback">
              Enter title here
          </div>
      </div>
        </div>
    <div class="form-group">
      <label for="question">Description</label>
      <div class="col-sm-10">
            {{ form.question_text }}
            <div class="invalid-feedback">
      Please enter a question
    </div>
        </div>
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <div class="col-sm-10">
                {{ form.tag_list }}
                <div class="invalid-feedback">
          Please add tags
        </div>
            </div>
    </div>
    <button type="submit" class="btn btn-primary">Ask</button>
  </form>
</div>

