{% load static %}
<div class="mr-5">
      <div class="media">
        <img src="../media/{{ user.avatar_path }}" style="width:64px; height:64px;">
        <div class="media-body ml-3">
          <h5 class="my-1 text-light">{{ user.username }}</h5>

            <div class="row">
              <div class="col">
                <a class="my-2" href="{% url 'settings' %}">Settings</a>
              </div>

              <div class="col">
                <a class="my-2" href="{% url 'logout' %}">Log out</a>
              </div>
            </div>

          </div>
      </div>
    </div>