{% load static %}

<div class="row my-2 mx-2">
  <h2 class="font-weight-bold">Best members</h2>
</div>
<div class="row mx-5">
  <a href="" class="mx-1 my-1">Mr. Freeman</a>
  <a href="" class="mx-1 my-1">Dr. House</a>
  <a href="" class="mx-1 my-1">Bender</a>
  <a href="" class="mx-1 my-1">Queen Victoria</a>
  <a href="" class="mx-1 my-1">Mr. Robot</a>
</div>