{% load static %}

<div class="row m-2">
  <h2 class="font-weight-bold">Signup</h2>
    {% csrf_token %}
</div>
<div class="row" style="max-width: 900px;">
  <form method="post" class="post-form">
      {% csrf_token %}
    <div class="form-group">
      <label for="input">Login</label>
      <div class="col">
          {{ form.username }}
      </div>
    </div>
    <div class="form-group">
      <label for="input">Password</label>
      <div class="col">
          {{ form.password }}
      </div>
    </div>
      {% for message in messages %}
       <div class="row m-2">
        <p class="text-danger">Sorry, password or login is incorrect</p>
       </div>
      {% endfor %}
      <div class="form-group">
          <label for="input"></label>
          <div class="col">
              <button type="submit" class="btn btn-primary">Login</button>
          </div>
      </div>
  </form>
</div>
<div class="row m-2">
  <a class="my-2" href="{% url 'registration' %}">Create new account</a>
</div>