{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="h2 my-2 text-light" href="{% url 'index' %}">AskTimofei</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div class="mx-auto">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'ask' %}">Ask!</a>
      </form>
    </div>
      {% if user.is_authenticated and user.is_active %}
            {% with user as user%}
                {% include 'inc/authorised.html' %}
            {% endwith %}
        {% else %}
            {% with user as user%}
                {% include 'inc/not_authorised.html' %}
            {% endwith %}
        {% endif %}
  </div>
</nav>