<div class="navbar-item nav-custom-item">
    <div class="container-fluid">
        <div class="row mt">
            <div class="col-6">
                <a href="{% url 'registration' %}">Register</a>
            </div>
            <div class="col-6">
                <a href="{% url 'login' %}">Log in</a>
            </div>
        </div>
    </div>
</div>
