{% load static %}

{% comment %}<div class="row bg-white justify-content-center">
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
        </li>
        {% for paginate in paginates %}
            <li class="page-item"><a class="page-link" href="?page={{ paginate }}">{{ paginate }}</a></li>
        {% endfor %}
        <li class="page-item">
        </li>
    </ul>
</nav>
</div>{% endcomment %}

<div class="row justify-content-center pag my-lg-5">
        <ul class="pagination">
            {% if questions.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}"><</a>
                </li>
            {% endif %}
            <li class="page-item"><a class="page-link">{{ questions.number }}</a></li>
            {% if questions.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ questions.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>
    </div>
