{% load static %}

<div class="row my-2 mx-2">
  <h2 class="font-weight-bold color-black">Popular tags</h2>
</div>
<div class="row d-flex justify-content-between mx-5">
  <a href=""  class="mx-1 my-1">django</a>
  <a href=""  class="mx-1 my-1">python</a>
  <a href=""  class="mx-1 my-1">MySQL</a>
  <a href=""  class="mx-1 my-1">Technopark</a>
  <a href=""  class="mx-1 my-1">c++</a>
  <a href=""  class="mx-1 my-1">css</a>
  <a href=""  class="mx-1 my-1">flask</a>
  <a href=""  class="mx-1 my-1">perl</a>
</div>