{% comment %}<div class="row m-2 ">
  <h2 class="font-weight-bold">Register</h2>
</div>
<div class="row" style="max-width: 900px;">
  <form class="w-100 m-3 mx-5">
    <div class="form-group">
      <label for="login">Login</label>
      <div class="col-sm-4">
          {{ form.username }}
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Your email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Your password">
    </div>
    <div class="form-group">
      <label for="repeat-password">Password</label>
      <input type="password" class="form-control" id="repeat-password" placeholder="Repeat your password">
    </div>
    <div class="form-group">
      <label for="tags">Your avatar</label>
      <img src="../static/imgs/user.svg" alt="" id="upload-photo">
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="input-file">
            <label class="custom-file-label" for="input-file" aria-describedby="inputGroupFileAddon02">Choose file</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Register!</button>
  </form>
</div>{% endcomment %}


<div class="row m-2 ">
  <h2 class="font-weight-bold">Register</h2>
</div>
<form enctype="multipart/form-data" method="POST" class="post-form">
    {% csrf_token %}

    <div class="form-group">
        <label class="col-sm-2 col-form-label">Login:</label>
        <div class="col-sm-4">
            {{ form.username }}
        </div>
        {% if form.username.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.username.errors }}</strong>
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-4">
            {{ form.email }}
        </div>
        {% if form.email.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.email.errors }}</strong>
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-4">
            {{ form.password }}
        </div>
        {% if form.password.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.password.errors }}</strong>
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="col-sm-2 col-form-label">Repeat password:</label>
        <div class="col-sm-4">
            {{ form.confirm_password }}
        </div>
        {% if form.confirm_password.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.confirm_password.errors }}</strong>
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="col-form-label">Choose avatar:</label>
        <div class="col-sm-4">
            {{ form.avatar_path }}
        </div>
        {% if form.avatar_path.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.avatar_path.errors }}</strong>
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Register!</button>
</form>
