{% load static %}

<div class="row m-2 ">
  <h2 class="font-weight-bold">Settings: {{ user.username }}</h2>
</div>
<div class="row" style="max-width: 900px;">
<form method="post" enctype="multipart/form-data" class="post-form w-100 m-3 mx-5">
    {% csrf_token %}
  <div class="form-group">
    <label for="login">Username/Login</label>
    <div class="col-sm-4">
        {{ form.username }}
    </div>
      {% if form.username.errors %}
          <div class="alert alert-danger">
              <strong>{{ form.username.errors }}</strong>
          </div>
      {% endif %}
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <div class="col-sm-4">
        {{ form.email }}
    </div>
      {% if form.email.errors %}
          <div class="alert alert-danger">
              <strong>{{ form.email.errors }}</strong>
          </div>
      {% endif %}
  </div>
  <div class="form-group">
    <label for="tags">Avatar</label>
    <div class="col-6" id="Image">
        {{ form.avatar_path }}
    </div>
      {% if form.avatar_path.errors %}
          <div class="alert alert-danger">
              <strong>{{ form.avatar_path.errors }}</strong>
          </div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

