{% load static %}

<div class="row my-2 p-2 bg-light border rounded">
  <div class="media">
    <img src="../media/{{ question.get_avatar }}" style="width:64px; height:64px;">
      <div class="media-body ml-3">
        <a href="{% url 'question' question.id %}" methods="post" class="h3 mx-2">{{ question.title }}</a>
        <p class="h7 mx-2 font-italic">by {{ question.author }}, added on {{ question.created_at }}</p>
        <div class="row mx-2 my-3">
          <p>{{ question.question_text }}</p>
        </div>
      </div>
  </div>
  <div class="row mx-2 w-100 align-items-center">
    <div class="btn-group-vertical ml-2">
      <button class="btn btn-outline-dark">&#8657</button>
      <button class="btn btn-outline-dark">&#8659</button>
    </div>
    <p class="h5 ml-3 mt-2 font-italic"> {{ question.rating }} </p>
    <div class="col">
      <div class="row">
        <div class="mx-auto">Tags:
          {% for tag in question.tag.all %}
              <a href="{% url 'tag' tag.id %}" methods="post">{{ tag.name }}</a>
          {% endfor %}
        </div>
        <a href="{% url 'question' question.id %}" class="mx-1">Answers ({{ question.answer.count }})</a>
      </div>
    </div>
  </div>
</div>